.entities-page {
    margin: 10px;
}

.entities-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.entities-box {
    background: white;
    border-radius: 12px;
    padding: 1.25rem;
    box-shadow: 0 6px 20px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.entities-box textarea {
    padding: 10px ;
    min-height: 220px;
    resize: vertical;
    font-family: monospace;
}

@media (max-width: 1000px) {
    .entities-layout {
        grid-template-columns: 1fr;
    }
}
